html, body{
    padding: 0;
    margin: 0;
    height: 100%;
}

#background{
    background-color: black;
    background-image: url(../images/bg.jpg);
    background-position: center;
    background-size: cover;
    display: table;
    height: 100%;
    width: 100%;
}

#loginContainer * {
    color: white;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-weight: normal;
    line-height: 1em;
    box-sizing: border-box;
}

#loginContainer {
    width: 80%;
    margin: 0 auto;
    position: relative;
    max-width: 1024px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: white;
}
::-moz-placeholder { /* Firefox 19+ */
    color: white;
}
:-ms-input-placeholder { /* IE 10+ */
    color: white;
}
:-moz-placeholder { /* Firefox 18- */
    color: white;
}

#inputContainer{
    width: 400px;
    padding: 45px;
    float: left;
    border-right: 1px solid #999;
}

#inputContainer h2{
    text-align: center;
}

#inputContainer input[type="text"],  #inputContainer input[type="email"], #inputContainer input[type="password"] {
    border: 0;
    border-bottom: 1px solid #fff;
    display: block;
    background-color: transparent;
    height: 27px;
    line-height: 27px;
    width: 100%;
}

#inputContainer label {
    font-size: 13px;
    color: #a0a0a0;
    margin-top: 15px;
}


#inputContainer button {
    display: block;
    border: 2px solid white;
    background-color: transparent;
    border-radius: 250px;
    color: white;
    font-size: 14px;
    letter-spacing: 1px;
    margin: 20px auto;
    height: 41px;
    width: 100%;
    text-transform: uppercase;
}

#inputContainer button:hover {
    cursor: pointer;
}