html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

#nowPlayingBarContainer{
    background-color: #282828;
    width: 100%;
    bottom: 0;
    position: fixed;
    min-width: 620px;
}

#nowPlayingBar{
    display: flex;
    height: 90px;
    padding: 16px;
    box-sizing: border-box;
}

#nowPlayingLeft, #nowPlayingRight{
    min-width: 180px;
    width: 30%;
}

#nowPlayingCenter{
    width: 40%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#nowPlayingBar .content{
    width: 100%;
}

.playerControls .buttons{
    margin: 0 auto;
    display: table;
}

.buttons .controlButton{
    background-color: transparent;
    border: none;
    vertical-align: middle;
}

.controlButton img {
    width: 20px;
    height: 20px;
}

.controlButton.play img, .controlButton.pause img {
    width: 32px;
    height: 32px
}

.controlButton:hover{
    cursor: pointer;
}

.progressTime{
    text-align: center;
    color: #a0a0a0;
    font-size: 11px;
    min-width: 40px;
}

.progressBar{
    height: 12px;
    width: 100%;
    display: inline-flex;
    cursor: pointer;
}

.playbackBar{
    display: flex;
}